
/**
* -------------
* Global Styles
* -------------
*/

body {
  font-family: 'Poppins', sans-serif;
  
  /* Default font family and font color */
}

p, li, textarea, label, input, select {
  /* Default font size and line height */
}


h1 {
  font-size: 80px;
  text-align: center;
  font-family: Poppins; 
  background-color: #fcce00;
  color: #ffffff;
  background-position-x: center;
  background-position-y: center;
  opacity: 0.81;
  margin: 8px 0;
}

h2 {
  font-size: 38px;
  text-align: center;
  font-family: Poppins; 
  background-color:#ff6b00;
  color: #ffffff;
  background-position-x: center;
  background-position-y: center;
  opacity: 0.81;
  margin: 8px 0;

}

.banniere1{ 
  height: 32px;
  margin: 8px 0;
  opacity: 0.81;
  background-color: #e02020;
  opacity: 0.81;
  margin: 8px 0;
}

.banniere2{
  height: 16px;
  margin: 8px 0;
  opacity: 0.81;
  background-color: #b620e0;
  opacity: 0.81;
  margin: 8px 0;
}

.banniere3{
  height: 8px;
  margin: 8px 0 0;
  opacity: 0.81;
  background-color: #6236ff;
  opacity: 0.81;
  margin: 8px 0;
}


h3 {
  font-size: 40px;
  text-align: center;
  font-family: Poppins; 
  color:#231f20;
  background-position-x: center;
  background-position-y: center;
  opacity: 0.81;
  margin: 64px 0;
}

.ordinateur-1 {
}
  

.ordinateur-2 {
}

.flexbox-container {
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
}

.flexbox-container > div {
	width: 50%;
	padding: 10px;
}

.flexbox-container > div:first-child {
	margin-right: 20px;
}
.subtitle1{
  margin: 0 31px 34px 0;
  font-family: Poppins;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #231f20;
}
.paragraphe1{
  margin: 34px 31px 30px 0;
  font-family: Poppins;
  font-size: 16px;
  text-align: left;
  font-weight: auto;
  color: #231f20;
  margin-left: 48px;
}

.subtitle2{
  margin: 0 0 32px 32px;
  font-family: Poppins;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #231f20;
}
.paragraphe2{
  margin: 32px 14px 32px 32px;
  font-family: Poppins;
  font-size: 16px;
  text-align: justify;
  color: #231f20;
}

.toucheblanche1 {
  font-family: Poppins;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fcce00;
}

.toucheblanche2 {
  width: 113px;
  height: 28px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #fcce00;
}

.feature-1{
  margin-left: 695px ;
  margin-right: 0px;
  object-fit: contain;
  opacity: 0.9;
  mix-blend-mode: darken;
}

.paragraphe3{
  margin: 32px 153px 32px 0;
  font-family: Poppins;
  font-size: 24px;
  margin-left: 60px;
  margin-right: 883px;
  color: black;
}
.toucheblanche3{
  font-family: Poppins;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: black;
}

h4 {
  /* Default font, size, and margins */
}

h5 {
  /* Default font, size, and margins */
}

h6 {
  /* Default font, size, and margins */
}


a {
  /* Link color */
}

a:hover {
  /* Link color on mouse over */
}


/**
* ------
* Layout
* ------
*/




/**
* ----------
* Components
* ----------
*/