
/**
* -------------
* Global Styles
* -------------
*/

body {
  font-family: 'Poppins', sans-serif;
  
  /* Default font family and font color */
}

p, li, textarea, label, input, select {
  /* Default font size and line height */
}


h1 {
  font-size: 80px;
  text-align: center;
  font-family: Poppins; 
  background-color: #fcce00;
  color: #ffffff;
  background-position-x: center;
  background-position-y: center;
  opacity: 0.81;
  margin: 8px 0;
}

h2 {
  font-size: 38px;
  text-align: center;
  font-family: Poppins; 
  background-color:#ff6b00;
  color: #ffffff;
  background-position-x: center;
  background-position-y: center;
  opacity: 0.81;
  margin: 8px 0;

}

.banniere1{ 
  height: 32px;
  margin: 8px 0;
  opacity: 0.81;
  background-color: #e02020;
  opacity: 0.81;
  margin: 8px 0;
}

.banniere2{
  height: 16px;
  margin: 8px 0;
  opacity: 0.81;
  background-color: #b620e0;
  opacity: 0.81;
  margin: 8px 0;
}

.banniere3{
  height: 8px;
  margin: 8px 0 0;
  opacity: 0.81;
  background-color: #6236ff;
  opacity: 0.81;
  margin: 8px 0;
}


h3 {
  font-size: 40px;
  text-align: center;
  font-family: Poppins; 
  color:#231f20;
  background-position-x: center;
  background-position-y: center;
  opacity: 0.81;
  margin: 64px 0;
}

.ordinateur-1 {
  background-image: url(../img/bg-yellow.png);
  background-repeat: repeat;
  background-size: contain;
  mix-blend-mode: darken;
}

.img-right {
  float: right;
}

.ordinateur-2 {
  background-image: url(../img/bg-orange.png);
  background-repeat: repeat;
  background-size: contain;
  mix-blend-mode: darken;
}

.flexbox-container {
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
}

.flexbox-container > div {
	width: 50%;
	padding: 10px;
}

.flexbox-container > div:first-child {
	margin-right: 20px;
}

.bloc-content{
  margin-right: 32px;
  margin-left: 32px;
}

.subtitle1{
  margin: 0 31px 34px 0;
  font-family: Poppins;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #231f20;
}
.paragraphe1{
  margin: 34px 31px 30px 0;
  font-family: Poppins;
  font-size: 16px;
  text-align: left;
  font-weight: auto;
  color: #231f20;
  margin-left: 48px;
}

.subtitle2{
  margin: 0 0 32px 32px;
  font-family: Poppins;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #231f20;
}
.paragraphe2{
  margin: 32px 14px 32px 32px;
  font-family: Poppins;
  font-size: 16px;
  text-align: justify;
  color: #231f20;
}

.learnmore1 {
  font-family: Poppins;
  font-size: 20px;
  font-weight: bold;
  text-align: right;
  color: #fcce00;
  border-radius: 25px;
  border: 2px solid;
  padding: 5px 10px 5px 10px;
  float: right;
}

.learnmore2 {
  font-family: Poppins;
  font-size: 20px;
  font-weight: bold;
  text-align: right;
  color:orange;
  border-radius: 25px;
  border: 2px solid;
  padding: 5px 10px 5px 10px;
  float: right;
}

.learnmore3 {
  font-family: Poppins;
  font-size: 20px;
  font-weight: bold;
  text-align: right;
  color:white;
  border-radius: 25px;
  border: 2px solid;
  padding: 5px 10px 5px 10px;
  float: left;
}

.feature-1{
  background-image: url(../img/bg-red.png);
  background-repeat: repeat;
  background-size: contain;
  mix-blend-mode: darken;
}

.feature-2{
  background-image: url(../img/bg-violet.png);
  background-repeat: repeat;
  background-size: contain;
  mix-blend-mode: darken;
}
.feature-3{
  background-image: url(../img/bg-blue.png);
  background-repeat: repeat;
  background-size: contain;
  mix-blend-mode: darken;
}

.paragraphe3{
  margin: 32px 153px 32px 0;
  font-family: Poppins;
  font-size: 24px;
  text-align: left;
  color:white;
}
.toucheblanche3{
  font-family: Poppins;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  color: white;
}
.subtitle3{
  margin: 0 0 32px 32px;
  font-family: Poppins;
  font-size: 32px;
  font-weight: bold;
  text-align: left;
  color: white;
}

.latest-releases{
  margin: 0 211.5px 64px 208.5px;
  color: white;
  font-size: 40px;
  font-weight: 900;
  padding-top: 1em;
  text-align: center;
}

.flexbox-vignettes {
  display: grid; /* une grille de 4 colonnes égales */
  grid-template-columns: 1fr 1fr 1fr 1fr; /* repeat(4, 1fr) */
  grid-gap: 20px; /* gouttière de 20px */
  margin-left: 4em;
  margin-right: 4em;
  grid-column: span 3; /* trois cellules (cases) horizontales */
  grid-row: span 3;    /* et deux verticales */
}

.color-black {
  background-color: #231f20;
}

h4 {
  /* Default font, size, and margins */
}

h5 {
  /* Default font, size, and margins */
}

h6 {
  /* Default font, size, and margins */
}


a {
  /* Link color */
}

a:hover {
  /* Link color on mouse over */
}


/**
* ------
* Layout
* ------
*/




/**
* ----------
* Components
* ----------
*/